*.pyc
*.bak
*.log
venv/
ahmia/banned_domains.txt
onionAddDatabase
.DS_Store
ahmia/migrations/
ahmia/__pycache__
api/__pycache__
profiles/__pycache__
.env
.env.local
staticfiles
static/
db.sqlite3
*.sqlite3
__pycache__/
.pytest_cache/
